body {
    margin: 0;
    padding: 0;
    background-color: #DEF2F1;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    height: 70px;
    background-color: #25274D;
}

.wrapper {
    max-width: 600px;
    margin: auto;
}

.search-input {
    background-color: whitesmoke;
    width: 600px;
    margin-top: 19px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}

.search-input input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    box-shadow: 0 1px 2px wheat;
}

.listC {
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .listC {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.listC li {
    list-style: none;
    padding: 6px 8px;
    cursor: default;
    display: none;
}

.search-input.active .listC li {
    display: block;
}

#list li:hover {
    background-color: rgb(163, 163, 163);
}

a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.logo {
    display: inline-block;
    margin-top: 13px;
    margin-left: 50px;
}

.sign-in {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}


/* Side Bar */

.menubtn {
    color: #AAABB8;
    font-size: 45px;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    margin-top: 12px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #464866;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 60px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #AAABB8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2E9CCA;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Footer */

footer {
    height: 120px;
    background-color: #25274D;
}

.footer-logo {
    padding-top: 10px;
    text-align: center;
}

.social-media {
    padding: 5px 40px;
    text-align: center;
    display: inline-block;
    margin-left: 500px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #AAABB8;
}

.social-media p {
    font-size: 24px;
    margin-bottom: 10px;
    color: #464866;
}

.social-icons img {
    width: 40px;
    margin: 0px 7px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}